<ion-header>
  <ion-navbar color="menu">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="onRefresh($event)">
    <ion-refresher-content refreshingSpinner="dots" refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <button ion-item *ngFor="let item of data" [color]="item.color" (click)="redirect(item.id)">
        <ion-icon [name]="item.icon" item-left></ion-icon>
        <h2 text-wrap>{{item.description}}</h2>
        <span *ngIf="item.pipe === 'number'" item-right>{{item.value | number}}</span>
        <span *ngIf="item.pipe !== 'number'" item-right>{{item.value}}</span>        
    </button>
    <page-note></page-note>
  </ion-list>

</ion-content>